.product-container {
  display: flex !important;
  flex-direction: column;
  justify-content: space-around !important;
  align-items: center;

  &__create-btn {
    margin: 16px 0 !important;
  }

  .product-card {
    width: 50%;
    margin-bottom: 16px !important;
  }
}
